th, td { padding: 5px; }

.bartexture {
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgICAkICAgKCgkGBxYHBwYGBxsICggKIBEiFhURHx8kHSggGCYlGx8TITEhJSkrLi4uFx8zODMsNygtLisBCgoKDQ0NEA0NFS0ZHxktKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAIAAgAMBIgACEQEDEQH/xAAZAAACAwEAAAAAAAAAAAAAAAACAwABBAX/xABDEAABAgQBCAYGBgkFAAAAAAABAgMABBESIgUTFCEyQlJiMXJzscHRQYKDkaHhFSM0Q4GSJDNRU2Nkk/DxRGF0o9P/xAAXAQEBAQEAAAAAAAAAAAAAAAAAAQIF/8QAFhEBAQEAAAAAAAAAAAAAAAAAABEh/9oADAMBAAIRAxEAPwDoJmKkFC2uH0phxfKumwnrGFWNgFGZqFcVYXosuelmvtV+ccV20K1360Sx9gbocHChIJQygQnMS4FAysDlgw3LpIKGibk71Vd8EMbm9ZAzR7JQiLcJUaoaPWTALW0OlCBzW/KCDkv00bA6ogLvRTWhunViBaBrC2x1mLoKxpdKIQbdlNsMtA1WIpytW2xAkTDQUauCu8rRbYhmWgTYtvCnea2YaUoBqNR5axK11FZPWiUJDiNRC5ddybsMCuZt6czDigHbsw7NzQg1uftDdd3DFGQTYIAQtoXbv9iGFboNaND2BxfGG54jh2cVrWJUDfX7s/ltugFXjbObB3sPzgVvoA22gOyPnGqvJQ8uGFOJQQL0V98AWjCtDMOg9YRYlmeNxZTvXCCc0VogLzaOG522INGJC6N04roC8w0B0rxfvXzC820nUFoA2bYsiUPpb/MIixKEaw2Rzf5gIiXaV0kYYZm2UnGunWdiho9NRas3baecWFy6OkNjDw2xRS0SuOq2xbvJUIsIlx98Qe1HjED8tS8FuGoflrRYW8XC1tRBmOZA/XL2sOIRCgEapkjiuSIfn2yLainVig4yE7DdNm20RkKtaVqEyv2MWJdANwedPqjyhlZelLG6byYgclxqo2LoADLI6L3EHrRMzq/WrpzJCYI6HsLDRu4lWwyjK01GaWhPrRoAhhA1Vp7oBcsSoHPL9VIiw3Ka8DdOJKoiG5WtEBvFzQAZx7p0EudZKE98Rxwp/wBC4OHMSoVi/CCFlPq56tu7qVdBUBT+uHWU1bBoltbhGuRsN28x8ochFxxyyB1mhFZtdftOq3dThgG0LRQGaC+bNQZaLDUZtmXHapgwXkqCAhkG37pVsZlorVK5lRO19U1bb3wvR0KNL3V3bqWrYEa1rmqVRm/zRSzNlINjZ5VKwwAZaFCZSZK07ynV+cVm0E1Mo9XmVd4xkCUPemXaPNcIsB0Gol2+qlQugrACf0R3rW4e+BWhv0yrvqpX4RBA4sAnRhfvJTZEQ46U0XK90Whtu3VLugK3caVd8CUNUIseHLauKLC1qUTo4BVtKtEWVugfZweW1CYUthB33BbvZq22DFEizSXAE8TEGljOpSSJWg4UpRFIedSmglVo3VJzAhwoNWeNOrAFcurGZlfD+ttTBlrKOisszzWpOL4QNUCt7TdFcSvlGIyMomi15KXRO6l8K+AcgCuVVqOTpnDhwya0qjTLooXL24LBw2pHlFZ9ps0JFeVKI56BJpSRoc3ThU0t+7vi0PShNBk55Btt+vkSlPxgNi5+XBqZpH1W1aoQaJ+WpcJluik7ykecZszUDNyjR5VNBPhAOIdSRWQkkXfezM0O6kSDYubl6V0hAHqW98JXPteibZI/BSu+FWftbka72aVcnuiWLqbGZHl6f/OK0L6QZUdcy0R+FvfBjKEuRqmGqJ4VDzjKtEwnpakShO6lR8RANNupqrR5AIUr7p8pu9wjMHR0tk9DrZ9YeBiGbR0XtHrRhImq1alZNwW7SZw+LcQGbA15Ol6cs4E+EWDaiaCul1pAu3cUM0oIFQtsczrRjnCWU4kleR5cnmfRi90XopRsZGlgeJM4PHzhB0dKNdbrVFcpuiF5bgojNOI5klUZEN1FisnNow4k6UhSYHRkbByMgI4mX28XxEUX0gWTOUcO6pIV4ViBZNKTEyviuYuw/wC+qNaGwkECaePWfCvCDCT6Jp4hXEpHlFZZb19OdmQNn7KE+ECUu01OTFFfyvyhzkte5Uzzot3UqR5QSJc0+smluW7OEJtgMKysGhdmSOWQ+UaG5YrQCiWQbt6dYt7hGgy8usELW7ThujPoEokki8Xcw8oAVyzoNNHlOqqsUJRfSGZL1Wj5RNAlAQSSvhSrdV+AiaBJg3kAL4s6fOI0mjTINczKbW60dn+nArlkVoZSWXbs20SruholZaooXMPC6YBci2tNDNTCLVXZ1p3F8awAuSFwqvJzRKf5q2KEjhporaOXSlq7opGSglQInps82d+UMXJDUdLmEHtxi+EBbbKW02IlmqJ3Uv8AnAhFpoJN5HEpM15GL0UUA0yYxfxzD22EAU0p3rKdR5QFAilc1MjltXAuLa165sdko90NLaPROO04bkeUTMoIoZt3rJdR5QZZtBmRU6Vq3cOzERKzQFDOA+w+ccwz08KjMtn2/wAon0hNEUEqSe1EUdQsTR/1KPWaOL4wlcvM11PS56ybbYwLmcpDYZB7V9CbYtExlf7xlunEyoecIOhmJpI1ZslO8lXyhLgnwoULNm9iPlGRc3P0GD8yRFmemrReyQYrTUJea1nOtVVxNRRl56hKHWyvaT02xl0+bSK6NMU4mGrvGARlKeVQ6G77dIT4xBoLOUSqpWyDwpvUnuhzTM5vrQbv3SboxDKM+dRliF8v+YLTp6muWNd25JgOgJabqVImhypVJ22/GLWxNasbdN5Tu1HPGUpzUBLU9lFnKE8D9n62K2A6BYmiMDrdU/vWClPwMU1L5RqS69LgcMtf4xzjPT9KhpCPWugBlHKgOtpojdUn/MB2DLPKATpNh5UnzgPo+ZCidONFbtvzjmt5Qyia3MjD/f7YLTptVKtf9ogMJn6jGy9W7hMA5lFlIF7biO1wx1yTQUlJs9WV+cVVzo0Gbr/xfnFHGbnmlGiKjssSoaJhdTYlz+kY6gLtaCTm/VlR5wtxU3XBk2bKOJSbYDGiZmKj6p7FtfVGGreWBUtOkq3UtFSvdGsCYIB0NxB3kqfEM/ShQCRcI2ftSPEwGDSSlVFoWjD96wYXpbV1DQHso6ZbmemwIHNNeUTMzJOrNnqunyiDmfSCEjb1dWFjKSFqsbeqvhTHTQzlFBFUS5F26+uGLRNUvXKIWviS/d3isMHMM6T6V15kwJnqHoWeaOpR0Cpk3a7qUqu8oGjoTjlngVbtw84DkfSqK0Kz+YRZyo0CAFk3bOGOiWmiRfIOU3laDcn4QpyUk0gL0O/mTkn5RcGc5RZtvQonl1JxRGspBdQgKK07SWcUbkIlaAIaoU4rVSeYUn3xA4g6tHmSeJMn84DWBlIGhmmSOwtgrJzp0lsXfwBGEHUAETI5Uq2YFaEFJAamaq4VHziDeETdB+lIHNmNqDsmTqEy2OXMRygylCaCXePKp82xLCpVfo1Z5tKKYo6tk2pJRpbK+ZLRSrvha2VkUdmSR2tsYHZYOGrmTTXhVOGAEutCvq8mopzOhXfBl00S0sMYecPWmjbAfoajVDoGLdnD4xlbvCseTmWxtKtdF3wEag3LrTUNDqqTEaMDcnUFE24Cr+OPKLDLSzaibdrduujyhAZlyDeyBw4YmYZSnBLNxBpsITQTDmHiVcqAAJIQJxdbtnVGUIQNZlAg9rdAOS0sogrliFp4XVpV3wG5CJtJKtOQ7wpelcxb7jDRpRBJWyffHPIBoENEo7UwJTXAKjqujDAdBaJo9C2kHsoWRP7jzQ5swIxrYCq45gbtzU15QrR6E1Q91tKN0B//2Q==');
    background-repeat:repeat;
}

.bartexture_side  {
    min-width: 25px;
    height: 60px;
    white-space: nowrap;
}

.bartexture_middle {
    width: 100%;
}

.bartexture_bottom {
    width: 100%;
    height: 25px;
}

.bar-state {
    padding-left: 10px;
    padding-right: 10px;
}

#header {
    width: 100%;
    color: hsla(331, 74%, 70%, 1.0);
    background-color: #85144b;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer {
    /*position: absolute;
    bottom: 0;*/
    width: 100%;
    color: hsla(331, 74%, 70%, 1.0);
    background-color: #85144b;
    padding-top: 10px;
    padding-bottom: 10px;
}
